.m_auto {
  margin: 0 auto;
}
.m_l_auto {
  margin-left: auto;
}

.m_r_auto {
  margin-right: auto;
}

.mb_54 {
  margin-bottom: 54px;
}
.mb_48 {
  margin-bottom: 48px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_32 {
  margin-bottom: 32px;
}
.mb_24 {
  margin-bottom: 24px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_18 {
  margin-bottom: 18px;
}
.mb_16 {
  margin-bottom: 16px;
}
.mb_12 {
  margin-bottom: 12px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_8 {
  margin-bottom: 8px;
}
.mb_4 {
  margin-bottom: 4px;
}
.mb_2 {
  margin-bottom: 2px;
}

.mt_80 {
  margin-top: 80px;
}
.mt_52 {
  margin-top: 52px;
}
.mt_45 {
  margin-top: 45px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_24 {
  margin-top: 24px;
}
.mt_16 {
  margin-top: 16px;
}
.mt_12 {
  margin-top: 12px;
}
.mt_8 {
  margin-top: 8px;
}
.mt_auto {
  margin-top: auto;
}
.mr_50 {
  margin-right: 50px;
}
.mr_32 {
  margin-right: 32px;
}
.mr_24 {
  margin-right: 24px!important;
}
.mr_16 {
  margin-right: 16px;
}
.mr_12 {
  margin-right: 12px;
}
.mr_8 {
  margin-right: 8px;
}
.mr_6 {
  margin-right: 6px;
}
.mr_4 {
  margin-right: 4px;
}
.ml_24 {
  margin-left: 24px;
}
.ml_16 {
  margin-left: 16px;
}
.ml_12 {
  margin-left: 12px;
}
.ml_8 {
  margin-left: 8px;
}
.ml_4 {
  margin-left: 4px;
}
