.blue-wrap {
  position: relative;
  min-height: 400px;
  background-color: #0098db;
}

.top-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.plane {
  position: absolute;
  height: 200px;
  top: 110px;
  right: 0;
  transform: rotate3d(1, 60, 4, 155deg);
  opacity: 0.8;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner,
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #0098db;
  background-color: white;
  border-color: white;
  box-shadow: 0 0 0 0 #409eff;
}

.el-radio-button__inner {
  background: #0098db;
  color: white;
  border: 1px solid white;

  &:hover {
    color: #0098db;
    background-color: white;
  }
}

.el-popconfirm__main {
  margin-bottom: 10px;
}

.airline-logo {
  height: 24px;
}
