.blue-wrap {
  min-height: 400px;
  background-color: #0098db;
}

.top-bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner,
.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #0098db;
  background-color: white;
  border-color: white;
  box-shadow: 0 0 0 0 #409eff;
}

.el-radio-button__inner {
  background: #0098db;
  color: white;
  border: 1px solid white;

  &:hover {
    color: #0098db;
    background-color: white;
  }
}

.airline-logo {
  max-width: 100px;
}
